@using CarRental.Entities
@model List<PostVehicle>
@inject IHttpContextAccessor HttpContextAccessor

@{
    var isApproved = bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsApproved"));
    var isApproving = bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsApproving"));
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Danh sách bài đăng";
}
<style>
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
        border-bottom: 2px solid;
    }
</style>
<div class="container-xl px-4 mt-5 mb-5" style="min-height: 70vh;">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" href="/thong-tin-tai-khoan/chi-tiet">Thông tin</a>
        <a class="nav-link" href="/xe-da-dat">Xe đã thuê</a>
        <a class="nav-link" href="/danh-sach-yeu-thich">Danh sách yêu thích</a>
        @if (isApproved)
        {
            <a class="nav-link active ms-0" href="/bai-dang">Bài đăng</a>
        }
    </nav>
    <hr class="mt-0 mb-4">

    <a href="/tao-bai-dang" class="btn btn-info h3 mb-2 ">Tạo mới</a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách bài đăng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display nowrap" id="dataTable" cellspacing="0" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Số người thuê</th>
                            <th>Ảnh</th>
                            <th>Tiêu đề</th>
                            <th>Địa chỉ</th>
                            <th>Giá</th>
                            <th>Loại phương tiện</th>
                            <th>Đánh giá</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model)
                        {
                            var temp = post.Status;
                            <tr>
                                <td>@post.Id</td>
                                <td>@post?.UserRentCars?.Count</td>
                                <td><img width="100" height="100" src="@post.Image" /></td>
                                <td>@post.Title</td>
                                <td>@post.Address</td>
                                <td>@post.Price</td>
                                <td>@post.Category</td>
                                <td>@post.Rating</td>
                                <td>@(temp ? "Hiển thị" : "Ẩn")</td>
                                <td>
                                    <div>
                                        <a href="/chinh-sua-bai-dang/@post.Id" class="btn btn-success mb-3">Sửa</a>
                                    </div>
                                    <div>
                                        <a href="/bai-dang/danh-sach-dang-ky/@post.Id" class="btn btn-success">Danh sách</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

